@import "node_modules/normalize-scss/sass/normalize/import-now";
// Fonts
@font-face {
    font-family: 'gloss_and_bloom';
    src: url('../fonts/gloss_and_bloom-webfont.woff2') format('woff2'),
         url('../fonts/gloss_and_bloom-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Mixins
@mixin mobile-only {
	@media (max-width : 600px) {
		@content;
	}
}

// Defaults
body{
    background: #F0F0F0;
    font: 16px 'Courier New', sans-serif;
    color: #707070;
}
.container{
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}
figure{
    padding: 0;
    margin: 0;
}

// Typography
h1{
    font: 40px/40px 'gloss_and_bloom', sans-serif;
    margin: 0;
    padding: 0.3em 0 0;
}
h2{
    font-size: 16px;
}
p{
    margin: 0;
    padding: 0.5em 0;
}
a, a:visited, a:hover{
    text-decoration: none;
    color: #707070;
}
a:hover{
    text-decoration: underline;
}

// Header
header{
    margin-top: 20px;
}

// Social nav
header .social{
    float: right;
    position: absolute;
    top: 50px;
    right: 20px;

    @include mobile-only{
        top: 0;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li{
            width: 32px;
            height: 32px;
            margin: 0 7px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

// Select options menu
.menu{
    position: relative;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;

    @include mobile-only{
        padding: 15px 0 0;
    }

    &:after{
        content: "";
        width: 16px;
        height: 9px;
        background: url(../images/arrow-down.png) no-repeat 0 0;
        display: inline-block;
        margin-left: 10px;
    }
    &.open{
        &:after{
            transform: rotate(180deg);
        }
    }
}
.menu-wrapper{
    margin-left: 135px;
    position: absolute;
    height: 0;
    max-height: 240px;
    transition: height 200ms;
    overflow: hidden;
    z-index: 2;

    @include mobile-only{
        margin-left: 0;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li{
        padding: 8px 0;
    }
    &.open{
        height: 240px;
    }
}

// Portfolio items
.portfolio-area{
    display: none;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    transition: opacity 200ms;

    @include mobile-only{
        margin-top: 30px;
    }

    &.menu-opened{
        opacity: 0.1;
    }

    article{
        margin: 0 0 50px 2%;
        flex: 1 0 25%;

        &:first-of-type,
        &:nth-child(4n){
            margin-left: 0;
        }

        @include mobile-only{
            flex: 1 0 33%;
            margin-left: 4%;
            &:first-of-type,
            &:nth-child(3n){
                margin-left: 0;
            }
            &:nth-child(4n){
                margin-left: 4%;
            }
        }
        
        img{
            max-width: 100%;
        }
        p{
            padding: 0 0 0.5em;
        }
    }
}


// Detail info
.details{
    background: #fff;
    border: 1px solid #707070;
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40px;
    box-shadow: 0 0 999px 999px rgba(#fff, .7);
    display: none;
    header{
        padding: 20px;
        border-bottom: 1px solid #707070;
        margin: 0;
        overflow: hidden;
        clear: both;
        width: 100%;
        h2{
            margin: 0;
            padding: 0;
            display: inline-block;
            line-height: 25px;
        }
        nav{
            float: right;
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
            }
            li{
                display: inline-block;
                &:last-child{
                    margin-left: 40px;
                }
            }
            a{
                display: inline-block;
                width: 20px;
                height: 20px;
                text-indent: -999px;
                overflow: hidden;
            }
            .before{
                background:url(../images/before.png) 0 0 no-repeat;
            }
            .next{
                background:url(../images/next.png) 0 0 no-repeat;
            }
            .close{
                background:url(../images/close.png) 0 0 no-repeat;
            }
        }
    }
    article{
        position: relative;
    }
    .info-card{
        position: absolute;
        top: 40px;
        left: 40px;
        background: #FFF;
        border: 1px solid #707070;
        padding: 20px;
        width: 460px;

        @include mobile-only{
            width: 100%;
            top: 0;
            left: 0;
            position: relative;
            box-sizing: border-box;
            border: none;
        }

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                line-height: 40px;
            }
        }
    }
}