
{{> header}}
<div class="container">
    <header>
        <p>meu nome é</p>
        <h1>Marta Preuss</h1>
        <p>já tive uma banda chamada doninhas assassinas</p>
        <p>e eu gosto de 
            <label for="open-menu" class="menu" id="menu-selected">deixar as coisas bonitas</label>
        </p>
        
        <input type="checkbox" id="open-menu" name="open-menu">
        <nav class="menu-wrapper">
            <ul>
                <li><a href="">projetar soluções pensando no  usuário</a></li>
                <li><a href="">fazer sites, blogs e lojas</a></li>
                <li><a href="">transformar design em html/css</a></li>
                <li><a href="">escrever</a></li>
                <li><a href="">imprimir 3D</a></li>
                <li><a href="">conversar com você</a></li>
            </ul>
        </nav>
        

        <nav class="social">
            <ul>
                <li><a href="https://www.linkedin.com/in/mapreuss/" target="_blank" title="Linkedin"><img src="images/linkedin.png"></a></li>
                <li><a href="https://www.behance.net/mapreuss" target="_blank" title="Behance"><img src="images/behance.png"></a></li>
                <li><a href="" target="_blank" title="Contato"><img src="images/contato.png"></a></li>
            </ul>
        </nav>
    </header>

    <section>
        {{#each project}}
            {{> item }}
        {{/each}}
    </section>


</div>
{{> footer}}